# （二）、Pandas数据操作
    匿名函数应用
    排序

##### ·shape  获取数据的尺寸
     获得df的size：df.shape
     获得df中的行数：df.shape[0]
     获得df中的列数： df.shape[1]
     获得行索引信息：df.index
     获得列索引信息：df.colomns
##### ·values  获得df中的值===中文没用
    df.values === 以列表的形式展现出来，去除了索引===dataframe类型数据转换成array类型
##### ·setindex和resetindex
    reset_index可以还原索引，从新变为默认的整型索引 
        DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill=”) 
        level控制了具体要还原的那个等级的索引 
        drop为False则索引列会被还原为普通列，否则会丢失
    set_index方法，设置单索引和复合索引抑或是添加索引。 
        DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False) 
        append添加新索引，drop为False，inplace为True时，索引将会还原为列
##### ·iterrows（）遍历DataFrame中的数据
    for index,row in df.iterrows():
#### ·split(sep,n,expand=false)
    sep表示用于分割的字符；n表格分割成多少列；expand表示是否展开为数据款，True输出Series，False输出Dataframe。
    字段拆分：是指按照固定的字符，拆分已有字符串

In [13]:
import pandas as pd
import numpy as np

### 1. 匿名函数应用

In [14]:
# Numpy ufunc 函数
df = pd.DataFrame(np.random.randn(5,4) - 1)
print (df)

print (np.abs(df))

          0         1         2         3
0 -0.496894 -3.046936 -2.728638 -1.017100
1 -0.361720 -0.296708  0.743171 -1.780793
2 -0.133560  0.467765  0.952942 -0.961164
3 -1.186573 -2.778039 -0.872602 -0.640796
4 -0.335266 -0.406740 -2.854803  0.058314
          0         1         2         3
0  0.496894  3.046936  2.728638  1.017100
1  0.361720  0.296708  0.743171  1.780793
2  0.133560  0.467765  0.952942  0.961164
3  1.186573  2.778039  0.872602  0.640796
4  0.335266  0.406740  2.854803  0.058314

In [15]:
# 使用apply应用行或列数据
f = lambda x : x.max()
print (df.apply(f))

0   -0.133560
1    0.467765
2    0.952942
3    0.058314
dtype: float64

In [16]:
# 指定轴方向
print (df.apply(f, axis=1))

0   -0.496894
1    0.743171
2    0.952942
3   -0.640796
4    0.058314
dtype: float64

In [17]:
# 使用applymap应用到每个数据
f2 = lambda x : '%.2f' % x
print (df.applymap(f2))

       0      1      2      3
0  -0.50  -3.05  -2.73  -1.02
1  -0.36  -0.30   0.74  -1.78
2  -0.13   0.47   0.95  -0.96
3  -1.19  -2.78  -0.87  -0.64
4  -0.34  -0.41  -2.85   0.06

### 2. 排序

In [18]:
s4 = pd.Series(range(10, 15), index = np.random.randint(5, size=5))
print (s4)

3    10
4    11
4    12
2    13
4    14
dtype: int64

In [19]:
'''1. 索引排序'''
s4.sort_index()

2    13
3    10
4    11
4    12
4    14
dtype: int64

In [29]:
df4 = pd.DataFrame(np.random.randn(3, 4), 
                   index=np.random.randint(3, size=3),
                   columns=np.random.randint(4, size=4))

In [30]:
df4

          2         2         1         2
1 -1.207349  1.318339  0.715597 -0.123828
2  1.458933 -0.992514 -0.668835  0.468963
1 -1.692899  0.162599  2.365497 -2.141556

In [33]:
#df4.sort_index(ascending=False)
df4.sort_index(axis=1)

          1         2         2         2
1  0.715597 -1.207349  1.318339 -0.123828
2 -0.668835  1.458933 -0.992514  0.468963
1  2.365497 -1.692899  0.162599 -2.141556

In [34]:
'''2. 按值排序'''
#df.sortvalues(by='a', ascending=False) === 通过a的值
#    作用是对选定的一列数值（'a'）数据从上往下从小到大进行排序（如果传值没成功===设置本体覆盖，传值覆盖）
df4.sort_values(by=1)

          2         2         1         2
2  1.458933 -0.992514 -0.668835  0.468963
1 -1.207349  1.318339  0.715597 -0.123828
1 -1.692899  0.162599  2.365497 -2.141556